@using ERP.CSharpLib
@{
    ViewBag.Title = "Item Movement";
}

@Styles.Render("~/CustomCSS/DateTimePicker")
@Scripts.Render("~/bundles/DateTimePicker")
<script src="~/Scripts/Custom/Report/ItemMovement/ItemMovement.js"></script>
<div class="page-inner w100">
    <div class="row">
        <div class="col-md-6 offset-2 text-right text-center">
            <div class="main-card card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">
                            @HttpContext.GetGlobalResourceObject("Local", "Item Movement")
                        </h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-12 form-horizontal">
                        <!-- Date From -->
                        <div class="form-group form-inline control-group">
                            <label class="col-md-3">
                                @HttpContext.GetGlobalResourceObject("Local", "Date From")
                            </label>
                            <div class="col-md-8">
                                @Html.TextBox("DateFrom", null, new
                                {
                                    @class = "form-control datePicker input-full",
                               @placeholder = "MM/DD/YYYY",
                                    @Value = @UTCDateTime.BDDate().ToString("MM/dd/yyyy")
                                })
                            </div>
                        </div>

                        <!-- Date To -->
                        <div class="form-group form-inline control-group">
                            <label class="col-md-3">
                                @HttpContext.GetGlobalResourceObject("Local", "Date To")
                            </label>
                            <div class="col-md-8">
                                @Html.TextBox("DateTo", null, new { @class = "form-control datePicker input-full", @placeholder = "MM/DD/YYYY", @Value = @UTCDateTime.BDDate().ToString("MM/dd/yyyy") })
                            </div>
                        </div>

                        <!-- Branch Dropdown -->
                        <div class="form-group form-inline control-group">
                            <label class="col-md-3">
                                @HttpContext.GetGlobalResourceObject("Local", "Branch")
                            </label>
                            <div class="col-md-8">
                                @Html.DropDownList("Branch", new SelectList("", ""), new { @class = "form-control input-full" })
                            </div>
                        </div>




                        <!-- Product Name Text Box -->
                        <div class="form-group form-inline control-group">
                            <label class="col-md-3">
                                @HttpContext.GetGlobalResourceObject("Local", "Product Name")
                            </label>
                            <div class="col-md-8">
                                @Html.TextBox("ProductName", null, new
                                {
                                    @class = "form-control input-full",
                                    @placeholder =
                               @HttpContext.GetGlobalResourceObject("Local", "Enter Product Name")
                                })
                            </div>
                        </div>




                        <!-- Buttons -->
                        <div class="form-group form-inline control-group">
                            <div class="col-md-8 offset-3 optButton">
                                <div align="center" class="btn-group w100">
                                    <button id="btnClear" type="button" class="btn btn-primary w-45">
                                        <i class="fas fa-eraser"></i>
                                        @HttpContext.GetGlobalResourceObject("Local", "Clear")
                                    </button>
                                    <button id="btnPreview" type="button" value=@HttpContext.GetGlobalResourceObject("Local","Preview") class="btn btn-success w-55">
                                        <i class="fas fa-eye"></i>
                                        @HttpContext.GetGlobalResourceObject("Local", "Preview")
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
